name: Set BizKit project dates on issue created

on:
  issues:
    types: [opened]

jobs:
  set-dates:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Get today
        id: today
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

      - name: Set start_at
        uses: nipe0324/update-project-v2-item-field@v2.0.2
        with:
          project-url: https://github.com/orgs/100-hours-a-week/projects/281
          github-token: ${{ secrets.UPDATE_PROJECT_V2_PAT }}
          field-name: "start_at"
          field-value: "${{ steps.today.outputs.date }}"

      - name: Set end_at
        uses: nipe0324/update-project-v2-item-field@v2.0.2
        with:
          project-url: https://github.com/orgs/100-hours-a-week/projects/281
          github-token: ${{ secrets.UPDATE_PROJECT_V2_PAT }}
          field-name: "end_at"
          field-value: "${{ steps.today.outputs.date }}"